# Entorno virtual
venv_prueba_tuya/
venv/
.env

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Sistema (Mac)
.DS_Store

# Carpetas de configuración comunes
.idea/
.vscode/
